h1{
	font-family:Impact, Charcoal, sans-serif;
	color:#ffffff;
	font-size:50px;
	background-color:#000033;
	border-style:solid; 
	border-width:5px;
	border-color:#ff0000;
	padding:50px;
}
h2{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:#ffffff;
	font-size:40px;
	background-color:#000033;
	border-style:dotted solid double dashed;
	border-width:5px; 
	border-color:#ff6600;
	padding:40px;
}
p{
	font-family:"Times New Roman", Times, serif;
	color:#ffffff;
	font-size:25px;
	background-color:#000033;
	border-style:dotted solid double; 
	border-width:5px;
	border-color:#ffff00;
	padding:30px;
}
footer{
	font-family:"Arial Black", Gadget, sans-serif;
	color:#ffffff;	
	font-size:15px;
	background-color:#000033;
	border-style:dotted solid;
	border-width:5px;
	border-color:#00cc00;
	padding:20px;
}
html{
	background-color:white;
}
/*
*Create a new file called "main.css"
*Add a link element to the head of your index.html file <link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.
*/
